
<h1>Assets</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>
      <th>Rank</th>
      <th>Current Value</th>
      <th>Total Paid</th>
      <th>Profit / Loss</th>
      <th>Cost Paid Per</th>
      <th>Amount owned</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>              
        <% for x in @lookup_coin %>
          <% if asset.symbol == x["symbol"] %>
          <td> <%= x["name"] %> <small>(<%= asset.symbol %>)</small></td>
          <td> $<%= x["price_usd"] %></td>
          <td> <%= x["rank"] %></td>
          <td> $<%= x["price_usd"].to_d * asset.amount_owned %></td>
          <td> $<%= asset.cost_per * asset.amount_owned %> </td>
          <td> $<%= (x["price_usd"].to_d * asset.amount_owned) - (asset.cost_per * asset.amount_owned )  %> </td>
          <% @profit_loss += (x["price_usd"].to_d * asset.amount_owned) - (asset.cost_per * asset.amount_owned )  %>
          <% end %>
        <% end %>
        
        <td>$<%= asset.cost_per %></td>
        <td><%= asset.amount_owned %></td>
        <td><%= link_to 'Show', asset %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Total Profit/Loss: <%= number_to_currency(@profit_loss) %></p>

<%= link_to 'New Asset', new_asset_path, class: "btn btn-primary" %>
